<!-- app/views/representatives/show.html.erb -->
<h1><%= 'Representative Profile' %></h1>
<ul id="details">
 <li>
    Name:
    <%= @representative.name %>
  </li>
  <li>
    Address:
    <%= @representative.address %>
  </li>
  <li>
    Policital Party:
    <%= @representative.party %>
  </li>
   <li>
    Photo
    <%= @representative.photo %>
  </li>
</ul>