- flash.each do |key, value|
  .alert{ class: "alert-#{key} alert-dismissible fade show", role: 'alert' }
    = value
    %button.btn-close{ type: 'button', 'data-bs-dismiss' => 'alert', 'aria-label' => 'Close' }

.container-fluid.py-5
  .row
    .col-md-8.offset-md-2.text-center
      %h1.mt-4 Edit News Item

      = form_tag(representative_top_five_news_item_path, method: :get, id: 'edit_news_item') do
        .clearfix.my-4
          %div{ style: 'display: inline-block; margin-right: 10px;' }
            %label{ for: 'representative' } Select Representative:
          %div{ style: 'display: inline-block;' }
            = select_tag 'selected_representative', options_for_select(@representatives_list.map { |rep| [rep[0], rep[1]] }), prompt: 'Choose Representative', class: 'form-control', required: true

        .clearfix.my-4
          %div{ style: 'display: inline-block; margin-right: 10px;' }
            %label.col-form-label{ for: 'issue' } Select Issue:
          %div{ style: 'display: inline-block;' }
            = select_tag 'selected_issue', options_for_select(@issues_list), prompt: 'Choose Issue', class: 'form-control', required: true

        = submit_tag 'Search', class: 'btn btn-primary'
