<div class="container-fluid py-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1 class="mt-4">Edit News Items</h1>
     <%= link_to "Selected Representative: #{@representative.name}", representative_path(@representative) %>
      <p>Selected Issue: <strong> <%= @issue %> </strong></p>

      <%= form_tag(update_rating_path, method: :post, id: 'edit_news_item') do %>
        
        <% @top_five.each do |news_item| %>
          <div class="news-item">
            <label for="title_<%= news_item.id %>">Title:</label>
            <%= text_field_tag "title_#{news_item.id}", news_item.title, required: true %>

            <label for="link_<%= news_item.id %>">Link:</label>
            <%= text_field_tag "link_#{news_item.id}", news_item.link, required: true %>

            <label for="description_<%= news_item.id %>">Description:</label>
            <%= text_area_tag "description_#{news_item.id}", news_item.description, required: true %>
          </div>
        <% end %>
        <div class="form-group">
         <div style="display: inline-block; margin-right: 10px;">
          <%= label_tag 'rating', 'Select Rating:' %>
            </div>
           <div style="display: inline-block;">
          <%= select_tag 'selected_rating', options_for_select([1, 2, 3, 4, 5].map { |rating| [rating, rating] }), prompt: 'Choose Rating', class: 'form-control', required: true %>
        </div>
         <%= hidden_field_tag 'selected_representative', @representative.id %>
        </div>

        <%= submit_tag 'Update News Item', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>