<div class="container-fluid py-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1 class="mt-4">Edit News Items</h1>
      <p>Selected Representative: <strong><%= @representative.name %></strong></p>
      <p>Selected Issue: <strong><%= @issue %></strong></p>

      <%= form_tag(update_rating_path, method: :post, id: 'edit_news_item') do %>
        <div class="form-group">
          <%= label_tag 'rating', 'Select Rating:' %>
          <%= select_tag 'selected_rating', options_for_select([1, 2, 3, 4, 5].map { |rating| [rating, rating] }), prompt: 'Choose Rating', class: 'form-control' %>
        </div>

        <%= submit_tag 'Update News Item', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

